@media screen and (max-width: 820px) {

    header,
    main,
    footer {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    header,
    main,
    footer {
        width: 90%;
    }

    #header__name {
        font-size: 20px;
        margin: 0 10px;
    }

    #header__about,
    #header__blog {
        font-size: 16px;
        margin: 0 10px;
    }

    .article {
        width: 100%;
    }

    #hello-text {
        display: none;
    }

    #hello-text-phone {
        display: block;
    }

}



@media screen and (max-width: 400px) {

    #header__about,
    #header__blog {
        font-size: 14px;
        margin: 0 10px;
    }
}